@import "core/assets/style/calendar.css";
@import "core/assets/style/HYBlackMythU.css";

html,body{
  padding: 0;
  margin: 0;
}

html[dark]{
  color: white;
}

.m-rice-paper-layout{
  display: flex;
}

.m-switch{
  display: inline-block;
}

.m-radio-group{
  display: inline-block;
}
